.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; /* Replace with your preferred font stack */
  background-color: black; /* Set a light background color for the entire page */
  color: #333; /* Set a default text color */
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #4285f4; /* Google blue color, replace with your desired header color */
  color: black;
  padding: 10px;
  text-align: center;
}

/* Add more global styles as needed */

/* Responsive styles for smaller screens */
@media screen and (max-width: 768px) {
  .container {
    padding: 10px;
  }
}
